$bright-green: #34A00F;
$max-page-width: 860px;
$grey:	#9f9f9f;
$intermediate-grey: #CECECE;
$light-grey: #F0F0F0;
$black: #000;

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.green {
  color: $bright-green;
}

.container {
  width: $max-page-width;
  margin: 0 auto;
}

/* ****************************************
Top Navbar
**************************************** */
.nav-wrapper {
  border-bottom: 1px solid $black;
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    margin-left: 1px;
  }
  .heading {
    display:inline;
    margin: 10px 8px;
    font-size: 20px;
  }
  .left-hand-panel, .right-hand-panel {
    display: flex;
    align-items: center;
  }
  .user {
    margin-left: 8px;
  }
}

/* ****************************************
Location Container
**************************************** */
.location {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
  span {
    font-size: 18px;
  }
  .arrow {
    margin: 0 6px;
    color: $light-grey;
  }
  .current-page {
    color: $grey;
    font-size: 14px;
  }
  .pages-link {
    text-decoration: none;
    color: $bright-green;
    &:hover {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
}

/* ****************************************
Activity Bar
**************************************** */
.activity-bar {
  background-color: $light-grey;
  border-top: 1px solid $intermediate-grey;
  margin-bottom: 45px;
  .activity {
    display: flex;
    list-style: none;
    padding: 25px 0;
    .activities {
      display:flex;
      align-items: center;
      margin: 0 25px 0 5px;
      &>i {
        font-size: 28px;
        color:$grey;
      }
      &:last-child>i {
        color:$bright-green;
      }
    }
    &>:last-child {
      margin: 0 0 0 auto;
    }
  }
  .headings-container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    font-size: 12px;
    color: $intermediate-grey;
    .major-heading {
      color: $black;
      font-weight: bold;
    }
    .color-green {
      color: $bright-green;
    }
  }
}

/* ****************************************
Help
**************************************** */

.slider-bucket {
  position: relative;
  overflow: hidden;
}

.help {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: $light-grey;
  padding: 10px 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid $intermediate-grey;
  span {
    color: $black;
    font-weight: bold;
    font-size: 12px;
  }
  button {
    border: none;
    padding: 0;
    color: $bright-green;
    background: none;
    &:hover {
      cursor: pointer;
    }
  }
}

/* ****************************************
Help-slider
**************************************** */

.help-slider {
  &.active {
    max-height: 230px;
    transition: max-height 0.7s ease;
  }
  max-height: 0;
  transition: max-height 0.7s ease;
  position: relative;
  top: -2px; //to hide the borders when collapsed
  z-index: 1; //border goes under .help with z-index of 3
  overflow: hidden;
  color: $grey;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid $intermediate-grey;
  i {
    font-size: 90px;
    float:left;
    margin: 12px 12px 12px 12px;
  }
  & p {
    margin: 12px 12px 22px 12px;
  }
  & p:last-child {
    margin: 0 12px 12px 12px;
  }
}