@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  min-width: 860px; }

.green {
  color: #34A00F; }

.container {
  width: 860px;
  margin: 0 auto; }

/* ****************************************
Top Navbar
**************************************** */
.nav-wrapper {
  border-bottom: 1px solid #000; }
  .nav-wrapper .menu {
    display: flex;
    justify-content: space-between; }
  .nav-wrapper .hamburger {
    margin-left: 1px; }
  .nav-wrapper .heading {
    display: inline;
    margin: 10px 8px;
    font-size: 20px; }
  .nav-wrapper .left-hand-panel, .nav-wrapper .right-hand-panel {
    display: flex;
    align-items: center; }
  .nav-wrapper .user {
    margin-left: 8px; }

/* ****************************************
Location Container
**************************************** */
.location {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 14px; }
  .location span {
    font-size: 18px; }
  .location .arrow {
    margin: 0 6px;
    color: #F0F0F0; }
  .location .current-page {
    color: #9f9f9f;
    font-size: 14px; }
  .location .pages-link {
    text-decoration: none;
    color: #34A00F; }
    .location .pages-link:hover {
      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
              text-decoration-style: dotted; }

/* ****************************************
Activity Bar
**************************************** */
.activity-bar {
  background-color: #F0F0F0;
  border-top: 1px solid #CECECE;
  margin-bottom: 45px; }
  .activity-bar .activity {
    display: flex;
    list-style: none;
    padding: 25px 0; }
    .activity-bar .activity .activities {
      display: flex;
      align-items: center;
      margin: 0 25px 0 5px; }
      .activity-bar .activity .activities > i {
        font-size: 28px;
        color: #9f9f9f; }
      .activity-bar .activity .activities:last-child > i {
        color: #34A00F; }
    .activity-bar .activity > :last-child {
      margin: 0 0 0 auto; }
  .activity-bar .headings-container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    font-size: 12px;
    color: #CECECE; }
    .activity-bar .headings-container .major-heading {
      color: #000;
      font-weight: bold; }
    .activity-bar .headings-container .color-green {
      color: #34A00F; }

/* ****************************************
Help
**************************************** */
.slider-bucket {
  position: relative;
  overflow: hidden; }

.help {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
  padding: 10px 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #CECECE; }
  .help span {
    color: #000;
    font-weight: bold;
    font-size: 12px; }
  .help button {
    border: none;
    padding: 0;
    color: #34A00F;
    background: none; }
    .help button:hover {
      cursor: pointer; }

/* ****************************************
Help-slider
**************************************** */
.help-slider {
  max-height: 0;
  transition: max-height 0.7s ease;
  position: relative;
  top: -2px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 45px;
  color: #9f9f9f;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #CECECE; }
  .help-slider.active {
    max-height: 230px;
    transition: max-height 0.7s ease; }
  .help-slider i {
    font-size: 90px;
    float: left;
    margin: 12px 12px 12px 12px; }
  .help-slider p {
    margin: 12px 12px 22px 12px; }
  .help-slider p:last-child {
    margin: 0 12px 12px 12px; }

/* ****************************************
Registration
**************************************** */
.heading {
  font-size: 20px;
  margin-bottom: 0px; }

.registration .form {
  display: flex; }

.registration .card + .card {
  margin-left: 60px;
  flex: 17;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.registration .card {
  flex: 11; }
  .registration .card .text-label {
    position: relative;
    display: block;
    margin-top: 30px; }
    .registration .card .text-label .description {
      float: left;
      font-weight: bold;
      font-size: 12px; }
    .registration .card .text-label .optional {
      float: right;
      font-size: 12px;
      color: #9f9f9f; }
    .registration .card .text-label .text-fields {
      display: block;
      width: 100%;
      border: 1px solid #CECECE;
      border-radius: 3px;
      font-size: 14px;
      height: 25px; }
      .registration .card .text-label .text-fields + span {
        position: absolute;
        top: 41px;
        color: #CECECE;
        font-size: 12px;
        opacity: 0;
        transition: all 1s; }
      .registration .card .text-label .text-fields[name="name"] + span:after {
        content: "Please enter your full name"; }
      .registration .card .text-label .text-fields[name="email"] + span:after {
        content: "Please enter your email address"; }
      .registration .card .text-label .text-fields[name="city"] + span:after {
        content: "Please enter your local city (optional)"; }
      .registration .card .text-label .text-fields:focus + span {
        opacity: 1;
        transition: all 0.7s; }
  .registration .card .forms-heading {
    font-weight: bold;
    font-size: 12px;
    margin: 30px 0 6px 0; }
  .registration .card .radio-container input {
    display: none; }
  .registration .card .frequency, .registration .card .days {
    position: relative;
    left: 15px;
    color: #9f9f9f;
    font-size: 14px;
    margin-right: 8px; }
    .registration .card .frequency > span, .registration .card .days > span {
      cursor: pointer;
      margin: 0 35px 0 8px; }
      .registration .card .frequency > span:hover:before, .registration .card .days > span:hover:before {
        border: 1px solid #34A00F; }
      .registration .card .frequency > span:before, .registration .card .frequency > span:after, .registration .card .days > span:before, .registration .card .days > span:after {
        content: '';
        top: 0.5px;
        margin: auto;
        position: absolute;
        left: -15px; }
      .registration .card .frequency > span:before, .registration .card .days > span:before {
        width: 15px;
        height: 15px;
        border: 1px solid #CECECE;
        border-radius: 15px; }
      .registration .card .frequency > span:after, .registration .card .days > span:after {
        left: -10.5px;
        top: 5px;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: none; }
  .registration .card input[type="radio"]:checked + .frequency > span:before {
    border: 1px solid #34A00F; }
  .registration .card input[type="radio"]:checked + .frequency > span:after {
    background-color: black; }
  .registration .card .checkbox {
    margin: 30px 0 6px 0; }
  .registration .card .checkbox-container {
    display: flex;
    justify-content: space-between; }
    .registration .card .checkbox-container input {
      display: none; }
    .registration .card .checkbox-container .days > span:before {
      border-radius: 2px; }
    .registration .card .checkbox-container .days > span:after {
      content: '';
      color: #000;
      top: -1px;
      left: -12.5px; }
    .registration .card .checkbox-container input[type="checkbox"]:checked + .days > span:before {
      border: 1px solid #34A00F; }
    .registration .card .checkbox-container input[type="checkbox"]:checked + .days > span:after {
      content: '✓'; }
  .registration .card .form-button {
    margin-top: auto;
    text-align: right; }
    .registration .card .form-button .cancel, .registration .card .form-button .submit {
      padding: 5px 12px;
      border: none;
      border-radius: 3px;
      font-weight: bold; }
    .registration .card .form-button .cancel {
      background-color: #F0F0F0; }
    .registration .card .form-button .submit {
      background-color: #34A00F;
      color: white; }

/* ****************************************
Users table
**************************************** */
.users-table {
  margin-top: 70px; }
  .users-table ul {
    list-style: none;
    padding: 0; }
  .users-table .table .row {
    display: flex;
    width: 100%; }
  .users-table .row:nth-child(2n + 1) {
    background-color: #F0F0F0; }
  .users-table .row:hover {
    background-color: #C5DFBC;
    cursor: pointer; }
  .users-table .row .header {
    background-color: #34A00F;
    border-bottom: 1px solid #000; }
    .users-table .row .header li {
      padding: 15px 0;
      color: white;
      font-size: 12px; }
  .users-table .row .row-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 12px; }
    .users-table .row .row-container li {
      padding: 10px 0;
      flex-basis: 16%; }
      .users-table .row .row-container li:nth-child(2) {
        flex-basis: 19%; }
      .users-table .row .row-container li:nth-child(3) {
        flex-basis: 9%; }
      .users-table .row .row-container li:nth-child(7) {
        flex-basis: 4%; }
